{layout="layouts/.main"}
{layout:set name="header"}
{/layout:set}
{layout:set name="content"}
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1> Welcome Home!</h1>
				<h1> Katie was here, once or twice </h1>
				<h1> Tyler Would Like to be a Super Hero with No Parents </h1>
				<h2> I thought this shit would turn me into a super hero, WTF. DJ white wine$ is pissed </h2>
				<p> I don't think that if Tyler was without parents he would become Super, he would just be a sad, lonely orphan. </p>

			</div>
		</div>
	</div>
{/layout:set}
{layout:set name="scripts"}
{/layout:set}
